<app-navbar></app-navbar>
<body  style="
background-image: url(../../assets/bg.jpg);
background-size: cover;
background-attachment: fixed;
opacity: 1;
"><br><br>
<!-- px-4 text-center -->
<h3 class="text-center">Frequently Asked Questions</h3>
<div class="text-center  px-5 py-3" style="padding-right: 70%;">
<div class="card" style="width: 60rem;">
    <div class="card-body">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <br>
          What is prime?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Prime is an application which is used for investment banking.</strong>      </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <br>what is sahaya?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>
            Sahaya is an application which is used to resolve the ticket which is raised in our prime application
            And sahaya application is used by the employee who is going to handle the ticket.</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <br>why  prime?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>The main purpose of prime application is to develop sheros knowledge by working on an real time application and part of our training plan </strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingfour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
           <br>
           Why sahaya?
        </button>
      </h2>
      <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>The main purpose of sahaya application is to develop sheros secondary skill set by working on a real time application and to train us for adapting work culture</strong>
           
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingfive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
             <br>
             
what is use of prime?
          </button>
        </h2>
        <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>In Prime application user can able to do investment banking that is initializing ipo, buy and sell stocks and finacial product
            </strong>
             
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingsix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
             <br>
             

             what is use of sahaya?
          </button>
        </h2>
        <div id="collapsesix" class="accordion-collapse collapse" aria-labelledby="headingsix" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>The  main motive of sahaya application is to handle and resolve the ticket which is raised by prime application and to provide a badges to the employees who is hadling the tickets
            </strong>
             
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingseven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
             <br>
             
             where ticket is raised?
          </button>
        </h2>
        <div id="collapseseven" class="accordion-collapse collapse" aria-labelledby="headingseven" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>
                Ticket is raised by the user in prime application.<br>
               
                Prime --> Get support--> Register ticket. <br>
               
                To View raised ticket.<br>
               
                prime --> Get support --> View Ticket Status
            </strong>
             
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingeight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
             <br>
             


             Can a single user raise multiple tickets?
          </button>
        </h2>
        <div id="collapseeight" class="accordion-collapse collapse" aria-labelledby="headingeight" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Yes, single user can raise multiple tickets and for each ticket different ticket Id is given</strong>
             
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingnine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
             <br>
             


             Who can assign the ticket to employees?
          </button>
        </h2>
        <div id="collapsenine" class="accordion-collapse collapse" aria-labelledby="headingnine" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong> Either the employee themselves or the admin can assign ticket
                One employee cannot assign ticket to other employees</strong>
             
          </div>
        </div>
      </div>
   
     
 
  </div>
</div>
</div>
</div>
</body>