<app-menubar></app-menubar>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <img
        class="img-fluid rounded"
        src="../../assets/home.png"
        alt="..."
      />
    </div>
    <div class="col-lg-6">
      <div class="row justify-content-center py-5">
        <div class="py-5">
          <div class=" text-center my-5">
            <h1 class="font-weight-bolder">
              Customer Support Solution
            </h1>
            <p class="lead fw-normal text-muted">
              We provides a mix of tools and technology, people, and programs
              designed to proactively help you optimize performance, for
              lowering your customer servicing costs. We save time for your team
              by helping you to move faster and focus on your core business. We
              are determined to make our customers successful on their customer
              resource management journey and address requests that range from
              answering best practices all the way to break-fix and problem
              resolution.
            </p>
            <a
              class="btn btn-primary btn-lg"
              href="#story
                              "
              >Read our story</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>